$clr-body: #2c3e50;
$clr-text: #747d8c;
$clr-default: #bdbdbd;
$clr-danger: #ff4757;
$clr-success: #5dce3e;
$clr-warning: #f7b731;
$clr-primary: #5352ed;
$clr-bg: #ecf0f1;
$clr-shadow: rgba(28, 28, 28, 0.08);
$ff-main: 'Poppins', sans-serif;
$ff-head: 'Acme', sans-serif;
